certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.3.0
proglog==0.1.10
pydub==0.25.1
python-vlc==3.0.20123
pyttsx3==2.90
requests==2.32.3
setuptools==70.0.0
SpeechRecognition==3.10.4
tqdm==4.66.4
typing_extensions==4.12.0
urllib3==2.2.1
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
pandas==2.0.3
ultralytics==8.0.83
whisper==1.0
# For Linux users with CUDA support, consider adding the following line for GPU-optimized PyTorch:
# -f https://download.pytorch.org/whl/torch_stable.html
